{% if user.is_authenticated %}
	{% if user.has_vivienda %}
		<li><a href="{% url 'gastos' %}">Gastos</a></li>
		<li>
            {% if user.get_vivienda.has_pending_list %}
                {% url 'detalle_lista' user.get_vivienda.get_pending_list.id as list_url %}
            {% else %}
                {% url 'lists' as list_url %}
            {% endif %}
            <a href="{{ list_url }}">
                Lista
            </a>
        </li>
		<li><a href="{% url 'graphs_presupuestos' %}">Presupuestos</a></li>
		<li><a href="{% url 'balance' %}">Balance</a></li>
	{% else %}
		<li><a href="{% url 'invites_list' %}">Invitaciones</a></li>
	{% endif %}
{% else %}
<li class='last'><a href="{% url 'registration_register' %}">Registrarse</a></li>
{% endif %}
