{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block help_info_button %}
{% endblock %}

{% block content %}

    {% if validlink %}

    <form method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Reestablecer" value="Reestablecer" button_type="submit" button_class="btn-primary" %}
    </form>

{% else %}

    <p>Recuperación de clave falló</p>

{% endif %}

{% endblock %}

{% block help_info_modal %}
{% endblock %}