*.pyc
paguen_po/core/migrations/*
paguen_po/config/secrets.json
uwsgi/*
media/*
.idea/
paguen_po/budgets/__pycache__/
paguen_po/budgets/migrations/
paguen_po/categories/__pycache__/
paguen_po/categories/migrations/
paguen_po/config/__pycache__/
paguen_po/expenses/__pycache__/
paguen_po/expenses/migrations/
paguen_po/core/__pycache__/
paguen_po/groceries/__pycache__/
paguen_po/groceries/migrations/
paguen_po/households/__pycache__/
paguen_po/households/migrations/
paguen_po/periods/__pycache__/
paguen_po/periods/migrations/
paguen_po/users/__pycache__/
paguen_po/users/migrations/
paguen_po/vacations/__pycache__/
paguen_po/vacations/migrations/
venv/
docs/build/*