{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
<style type="text/css">
	.plus_icon, .minus_icon {
		cursor: pointer;
	}
</style>
{% endblock %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}
{% block subtitle %}
    Lista {{lista.fecha}}
{% endblock %}
{% block content %}
	{% if lista.is_done %}
		<table id="items_lista" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Ítem</th>
					<th>Pedido</th>
					<th>Esta Compra</th>
				</tr>
			</thead>
			<tbody>
				{% for i in lista.get_items %}
					{% if not i.is_pending %}
						<tr>
							<td>{{i.item.nombre}}</td>
							<td class="cantidad_solicitada">{{i.cantidad_solicitada}} ({{i.item.unidad_medida}})</td>
							<td>{{i.cantidad_comprada}} ({{i.item.unidad_medida}})</td>
						</tr>
					{% endif %}
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					{% with gasto=lista.get_gasto %}
					<td>Monto total: <a href="{% url 'detalle_gasto' gasto.id %}">${{gasto.monto}}</a></td>
					{% endwith %}
				</tr>
			</tbody>
		</table>
	{% else %}
	<form id="items_lista_form" action="" method="POST">
		{% csrf_token %}
		<table id="items_lista" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Ítem</th>
					<th>Pedido</th>
					<th>Esta Compra</th>
				</tr>
			</thead>
			<tbody>
				{% for i in lista.get_items %}
					<tr>
						<td>{{i.item.nombre}}</td>
						<td class="cantidad_solicitada">{{i.cantidad_solicitada}} ({{i.item.unidad_medida}})</td>
						<td>
							<div class="input-group">
								<span class="input-group-btn auto_fill" value="{{i.cantidad_solicitada}}">
									<button type="button" class="btn btn-info">
										<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
									</button>
								</span>
								<span class="input-group-addon plus_icon">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</span>
								<input type="number" class="form-control" aria-label="TODO poner algo aqui" name="{{i.id}}"></input>
								<span class="input-group-addon minus_icon">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</span>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="btn-group" data-toggle="buttons">
			<p>¿Qué hacer con ítems restantes?</p>
            <label class="btn btn-success active">
                <input type="radio" name="options" value="rescatar_items"
                       autocomplete="off" checked>Nueva lista
            </label>
            <label class="btn btn-success">
                <input type="radio" name="options" value="descartar_items"
                       autocomplete="off">Descartar
            </label>
		</div>
		<br><br>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Monto total" id="monto_total" name="monto_total">
			<span class="input-group-btn">
				<button id="pay_list_btn" type="submit" class="btn
				btn-primary">Pagar</button>
			</span>
		</div>
	</form>

    {% bootstrap_button "Pagar Lista" name="confirmSubmit" button_class="btn-primary" as confirm_button %}
    {% include "general/modal.html" with modal_id="ConfirmModal" modal_title="Confirme los datos" modal_body="<p>Revise que los datos ingresados estén correctos antes de pagar la lista. Tenga especial cuidado con <b>qué hacer con los ítem que no se compraron (descartar o crear lista nueva).</b></p>"|add:confirm_button  %}

	<script type="text/javascript">
		var fill_value = function(val){
			console.log($(this).parent());
		};
		$(document).ready(function(){

            $("#pay_list_btn").click(function () {
                $("#ConfirmModal").modal();
                return false;
            });
            $("button[name='confirmSubmit']").click(function () {
                $("form").submit();
            });

			$("#items_lista_form").submit(function(){
				// TODO check other conditions: form must not be empty, monto_total can't be empty nor negative, if values dont all match, ask what to do with remaining list
				if ($("#monto_total").val()<=0){
                    // TODO error messages should appear on modal, instead of as alerts
					alert("debe ingresar un monto");
					return false;
				}
			});

			$(".auto_fill").click(function(){
				// get value
				value = $(this).attr("value");
				// set value
				$(this).siblings("input").val(value);
			});

			var add_item = function(element, n){
				input = element.siblings("input")
				current_value = parseInt(input.val())
				new_value = current_value+n
				if (isNaN(current_value) && n>0){
					input.val(n)
				}
				else if (new_value>=0){
					input.val(new_value)
				}
				else {
					input.val(0)
				}
			}
			$(".plus_icon").click(function(){
				add_item($(this), 1);
			});
			$(".minus_icon").click(function(){
				add_item($(this), -1);
			});
		});
	</script>
	{% endif %}
{% endblock %}

{% block info_title %}
    {% if lista.is_done %}
        Detalle de Lista
    {% else %}
        Completar Listas
    {% endif %}
{% endblock %}

{% block info_content %}
    {% if lista.is_done %}
        En esta página puede ver el detalle de la Lista que se encuentra
        comprada. Si hace click en el monto total, podrá ver el detalle del
        Gasto asociado a esta compra.
    {% else %}
        Para completar la lista puede utilizar los botónes "+" y "-", o bien
        hacer click en el botón
        {% bootstrap_button "" icon="arrow-right" button_type="submit" button_class="btn-info btn-sm" %}
        para copiar la cantidad solicitada.
        <br><br>
        Todo <i>ítem</i> cuya cantidad comprada sea mayor a 0 se considera
        <i>comprado</i>. Usted debe especificar qué hacer con los ítems que
        <b>no</b> marcó como comprados:
        <br><br>
        <ul>
            <li>Si elige la opción <b>descartar</b>, los ítems no comprados
                serán eliminados.</li>
            <li>En cambio, si elige la opción <b>nueva lista</b>, se creará
                una nueva lista sólamente con los ítems no
                comprados.</li>
        </ul>
        Finalmente, debe ingresar el monto total de la compra, el cual debe
        ser un número mayor a 0.
        <br><br>
        Al hacer click en "Pagar", se generará un
        Gasto con categoría <b>Supermercado</b> a su nombre, con el monto que
        indicó en el formulario. Este Gasto, al igual que todos los demás,
        debe ser confirmado por sus compañeros antes de ser considerado
        "pagado".
    {% endif %}
{% endblock %}
