{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
	{% include "general/datatables.html" %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://raw.githubusercontent.com/select2/select2/master/dist/js/i18n/es.js"></script>
{% endblock %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}

{% block subtitle %}
    Nueva Lista
{% endblock %}

{% block content %}

    <form action="/nueva_lista/" method="POST" id="nueva_lista_form">
				<input type="hidden" name="max_item_index" id="max_item_index"></input>
				{% csrf_token %}
				<table id="items_lista" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Ítem</th>
							<th>Cantidad</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<button type="button" id="add_item" class="btn btn-warning">
									{% bootstrap_icon "plus" %} Agregar ítem
								</button>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<br>
				<button id="create_list_btn" type="submit" class="btn
				btn-primary" style="float: right;">
					{% bootstrap_icon "ok" %} Generar lista
				</button>
				<!-- TODO put each tab in a  diferent page. This way the user doesn't have to load the whole set of lists when the only thing he wanted was to create a new one -->
			</form>

    {% bootstrap_button "Generar Lista" name="confirmSubmit" button_class="btn-primary" as confirm_button %}
    {% include "general/modal.html" with modal_id="ConfirmModal" modal_title="Confirme los datos" modal_body="<p>Revise que los datos ingresados estén correctos antes de generar la lista.</p>"|add:confirm_button  %}

	<script type="text/javascript">
        $(document).ready(function(){

            // initialize item array for select boxes and
            // dictionary to change the measurement unit after the user selects an item
            var items = [];
            var item_to_unit = {};
            {% for item in items %}
                var item_name = "{{ item.nombre }}";
                items.push(
                    {
                        id: item_name,
                        text: item_name
                    }
                );
                item_to_unit[item_name] = "{{ item.unidad_medida }}";
            {% endfor %}

            $("#create_list_btn").click(function () {
                $("#ConfirmModal").modal();
                return false;
            });
            $("button[name='confirmSubmit']").click(function () {
                $("form").submit();
            });

            var items_lista = $('#items_lista').DataTable({
                paging: false,
                filter: false,
                bSort: false,
                bInfo:false
            });
            var input_number = 1;
            $('#add_item').click(function(){
                this_item_number = input_number++;
                $("#max_item_index").val(this_item_number);
                this_item_input_id = "item_"+ this_item_number;
                // create inputs
                item = $("<select>")
                        .attr("value", "")
                        .attr("id", this_item_input_id)
                        .attr("style", "width: 100%")
                        .attr("name", "item_"+ this_item_number);
                item.append("<option>");
                quantity = $("<input>")
                        .attr("type", "number")
                        .attr("value", "")
                        .attr("name", "quantity_" + this_item_number)
                        .attr("id", this_item_input_id + "_qty")
                        .attr("placeholder", "Cantidad")
                        .attr("class","form-control");

                // create an input group for each column
                first_col_input_group = $("<div>").append(item);
                second_col_input_group = $("<div>").attr("class","input-group").append(quantity);

                // delete button for the row
                var delete_button = $("<button>")
                        .attr("type", "button")
                        .attr("class", "btn btn-danger")
                        .attr("id", this_item_input_id + "_delete")
                        .append($("<span>")
                                .attr("class", "glyphicon glyphicon-trash")
                                .attr("aria-hidden", "true"));

                // update table
                var first_content = first_col_input_group.html();
                var second_content = $("<div>").append(second_col_input_group).html();
                var delete_button_content = $("<div>").append(delete_button).html();
                items_lista.row.add([first_content,second_content,delete_button_content]).draw();
                // make the button functional
                $("#" + this_item_input_id + "_delete").click(function(){
                    items_lista.row($(this).parent().parent("tr")).remove().draw();
                });

                // make select box more awesome
                var new_select = $("#"+this_item_input_id);
                new_select.select2({
                    language: "es",
                    placeholder: "Ítem",
                    theme: "classic",
                    data: items
                });
                new_select.on("change", function (e) {
                    var qty_id = "#" + $(this).attr("id") + "_qty";
                    var unidad_medida = item_to_unit[$(this).val()];
                    $(qty_id).attr("placeholder", unidad_medida).val("");
                });
            });
        } );
	</script>
{% endblock %}

{% block info_title %}
    Sobre las Listas
{% endblock %}

{% block info_content %}
    En esta página puede crear una nueva lista de compras. Para esto, debe
    agregar al menos 1 ítem a la lista, y especificar la cantidad solicitada.
    <br><br>
    Sólo es posible ingresar <i>ítems</i> que se encuentren definidos en la
    lista de ítems de la Vivienda. Puede consultar la lista completa y
    <b>agregar nuevos ítems haciendo click <a href="{% url 'items' %}"
                                           target="_blank">aquí</a></b>, o bien
    ingresando a Vivienda->Items->Administrar.
    <br><br>
    Luego de crear la lista, cualquier usuario de la Vivienda puede
    completarla ingresando a "Lista". La vivienda sólo puede tener una lista
    de compras activa a la vez.
    <br><br>
    Al completar una lista, se genera un Gasto de categoría <b>Supermercado</b>
    asociado al usuario que la completó,

{% endblock %}
