{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content_title %}{{vivienda}}{% endblock %}
{% block subtitle %}
    Editar Gasto
{% endblock %}
{% block buttons %}
    {% if show_delete_button %}
        <form action="/gastos/delete/" method="post">
            {% csrf_token %}
            <button name="gasto" value="{{gasto.id}}" class="btn btn-danger">
                {% bootstrap_icon "trash" %} Eliminar
            </button>
        </form>
    {% endif %}
{% endblock %}
{% block content %}

    <form method="post" action="">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Editar" button_type="submit" button_class="btn-primary" %}
    </form>

    <script type='text/javascript' src='{% static 'js/jquery.ui.datepicker-es.js' %}'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_fecha_pago").datepicker();
        })
    </script>
{% endblock %}

{% block info_title %}
    Sobre la edición de Gastos
{% endblock %}

{% block info_content %}
    Un Gasto pendiente puede ser editado por cualquier usuario, mientras que
    un Gasto "pendiente_confirmación" o "pagado" puede ser editado sólo por
    el usuario que pagó.
    <br><br>
    Las condiciones para la edición son las mismas que para la creación: el
    monto debe ser un número mayor a 0, y la fecha no puede ser posterior al
    día actual.
    <br><br>
    <strong>Al editar un Gasto "pagado", este vuelve al estado
        "pendiente_confirmación".</strong>
    <br><br>
    Un Gasto puede ser eliminado bajo las siguientes condiciones:
    <ul>
        <li>Se encuentra pendiente, ó</li>
        <li>Fue pagado por el usuario que esta eliminándolo.</li>
    </ul>
{% endblock %}