{% extends "base.html" %}
{% load bootstrap3 %}

{% block content_title %}{{ vivienda }}{% endblock %}

{% block subtitle %}
    Editar Categoría: {{ categoria }}
{% endblock %}

{% block help_info_button %}
{% endblock %}

{% block content %}
    <hr>
	<form method="post" action="">
		{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn-primary" %}
	</form>
{% endblock %}

{% block help_info_modal %}
{% endblock %}