{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
    {% include "general/datatables.html" %}
{% endblock %}

{% block content_title %}{{request.user.get_vivienda}}{% endblock %}

{% block subtitle %}
    Items
{% endblock %}

{% block buttons %}
    <a href="{% url 'new_item' %}" class="btn btn-warning" role="button">
        {% bootstrap_icon "plus" %} Nuevo
    </a>
{% endblock %}

{% block content %}
    <table id="items_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <a href="{% url 'edit_item' item.nombre %}">
                        {{item.nombre}}
                    </a>
                </td>
                <td>{{item.unidad_medida}}</td>
                <td>{{item.descripcion}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#items_table').DataTable({
                // paging: false,
                // filter: false
            });
        });
    </script>
{% endblock %}

{% block info_title %}
    Sobre los Ítems
{% endblock %}

{% block info_content %}
    Se entiende por <i>ítem</i> a los víveres o implementos utilizados en la
    vivienda, abarcando desde comida hasta medicamentos o útiles de aseo.
    <br><br>
    Los ítems se utilizan para generar <a href="{% url 'lists' %}"
                                          target="_blank">listas de
    compras</a>, las cuales luego pueden ser completadas por otros usuarios,
    generando un nuevo <a href="{% url 'gastos' %}" target="_blank">gasto</a>.
    <br><br>
    La descripción puede ser una característica no tan obvia acerca del ítem
    en particular, como puede ser por ejemplo la marca o el sabor preferido
    por la mayoría de los miembros de la vivienda.
    <br><br>
    Si hace click en el nombre de algún ítem, podrá editar sus
    características. ¡Tenga en cuenta que esto afectará a las listas de
    compras que tienen asociado a ese ítem!

{% endblock %}
