{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content_title %}{{vivienda}}{% endblock %}
{% block subtitle %}
    Editar Gasto
{% endblock %}
{% block buttons %}
    {% if show_delete_button %}
        <form action="/gastos/delete/" method="post">
            {% csrf_token %}
            <button name="gasto" value="{{gasto.id}}" class="btn btn-danger">
                {% bootstrap_icon "trash" %} Eliminar
            </button>
        </form>
    {% endif %}
{% endblock %}
{% block content %}

    <form method="post" action=".">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Editar" button_type="submit" button_class="btn-primary" %}
    </form>

    <script type='text/javascript' src='{% static 'js/jquery.ui.datepicker-es.js' %}'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_fecha_pago").datepicker();
        })
    </script>
{% endblock %}