{
  	"secret_key": "",
    "db_name": "",
    "db_user": "",
    "db_pass": "",
    "db_host": "",
    "db_port": "",
    "default_from_email": "",
    "aws_access_key_id": "",
    "aws_secret_access_key": ""
}