{% extends "base.html" %}

{% block content_title %}Invitaciones{% endblock %}

{% block content %}
	<h3>Recibidas</h3>
	{% if invites_in %}
	<p>Tienes las siguientes invitaciones:</p>
	<ul>
	{% for i in invites_in %}
		<li>{{i.invitado_por.user}} te invitó a formar parte de {{i.invitado_por.vivienda}} </li><a href="{% url 'invite' i.id %}">responder</a>
	{% endfor %}
	</ul>
	{% else %}
	<p>No has recibido invitaciones</p>
	{% endif %}

	<h3>Enviadas</h3>
	{% if invites_out %}
	<p>Has realizados las siguientes invitaciones:</p>
	<ul>
	{% for i in invites_out %}
		<li>Has invitado a {% if i.invitado %}{{i.invitado}}{% else %}{{i.email}}{% endif %} a formar parte de {{i.invitado_por.vivienda}} <a href="{% url 'invite' i.id %}">ver</a></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>No has enviado invitaciones</p>
	{% endif %}
{% endblock %}

{% block info_title %}
    Sobre las invitaciones
{% endblock %}

{% block info_content %}
    En esta página puede administrar sus invitaciones enviadas, y responder a
    las recibidas.
{% endblock %}
