{% extends "base.html" %}
{% load static %}


{% block custom_head %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="{% static 'js/period_functions.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">

	<style type="text/css">
	.slider-horizontal {
		width: 90% !important;
		margin-right: 5% !important;
		margin-left: 5% !important;
		margin-bottom: 30px !important;
	}
	html, body {
	  width:  100%;
	  height: 100%;
	  margin: 0px;
	}
	</style>
{% endblock %}


{% block content_title %}{{vivienda}}{% endblock %}
{% block content %}
	<h3>Gastos</h3>
	<div class="alert alert-danger" style="display: none;">
		¡Debe seleccionar al menos una opción para graficar!
	</div>
	<div class="alert alert-success" style="display: none;">
		¡Gráfico cargado!
	</div>
	<div class="alert alert-warning" style="display: none;">
		Cargando...
	</div>
	<hr>
	<input id="ex19" type="text"
		data-provide="slider"
		data-slider-ticks="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
		data-slider-ticks-labels="{{periods}}"
		data-slider-min="1"
		data-slider-max="13"
		data-slider-step="1"
		data-slider-value="[12,13]"
		data-slider-tooltip="hide" />
	<br>
	<div class="btn-group" id="categorias_checkbox" data-toggle="buttons">
		{% for c in categorias %}
			<label class="btn btn-success">
				<input type="checkbox" autocomplete="off" name="{{c}}"> {{c}}
			</label>
		{% endfor %}
	</div>
	<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-success">
				<input type="checkbox" autocomplete="off" name="total" id="total_checkbox"> Total
			</label>
	</div>
	{% csrf_token %}
	<button class="btn btn-primary" id="get_graph">
		Generar gráfico
	</button>
	<hr>
	<div class="row">
		<div id="canvas_container">
			<canvas id="gastos_chart" height="100px"></canvas>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){

			// get the color of the not checked categorias for later use wheen restarting the color aof a button
			var not_checked_color = $("#categorias_checkbox").find("label").first().css("background-color")

			$("label").click(function(){
				// if checked, change to default not_checked_color
				if($(this).hasClass("active")){
					$(this).css("background-color", not_checked_color)
				}
				// if not checked, change to random color
				else{
					$(this).css("background-color", getRandomColor())
				}
			});

			// get the range of periods (the labels, NOT the indexes)
			var range_periods_labels = JSON.parse($("#ex19").attr("data-slider-ticks-labels"))

			// this is to display the numbers in a human-readable way. 
			// For example: 23.145.222 instead of 23145222
			$.format.locale({
			    number: {
			        groupingSeparator: '.',
			        decimalSeparator: ','
			    }
			});

			Chart.defaults.global.responsive = true;

			// starting null values for the yet-to-be-created graph
			var ctx = $("#gastos_chart").get(0).getContext("2d");
			var myChart = null;
			var labels = [];

			var options = {
				legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\">" + 
				"<% for (var i=0; i<datasets.length; i++){" + 
					"%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\">"+
						"<%if(datasets[i].label){"+
						"%><%=datasets[i].label%><%"+
						"}%></span>"+
					"</li><%"+
				"}%></ul>",
				multiTooltipTemplate: "$<%= $.format.number(value, '#,##0.#') %>",
				tooltipTemplate : "<%=label%>: $<%= $.format.number(value, '#,##0.#') %>"
			}
			// this is the main method that generates the graph
			$("#get_graph").click(function(){
				// hide messages
				$(".alert-success").hide();
				$(".alert-danger").hide();
				$(".alert-warning").show();

				// reset datasets
				datasets = [];

				// get indexes (NOT the labels) of the slider
				var year_month_indexes = JSON.parse("[" + $("#ex19").val() + "]")

				first_index = parseInt(year_month_indexes[0])-1
				last_index = parseInt(year_month_indexes[1])-1

				var init_year = range_periods_labels[first_index].split("-")[0]
				var init_month = range_periods_labels[first_index].split("-")[1]
				
				var last_year = range_periods_labels[last_index].split("-")[0]
				var last_month = range_periods_labels[last_index].split("-")[1]

				// reset labels. The values are taken from the labels of the slider
				labels = []
				for (var i = first_index; i <= last_index; i++) {
					labels.push(range_periods_labels[i]);
				}

				// find active categorias
				categorias = []
				$('#categorias_checkbox').find('.active').find("input").each(function(){
					categorias.push($(this).attr("name"))
				})

				// include total of each perido in graphics?
				include_total = $("#total_checkbox:checked").length;

				if(categorias.length<1 && include_total<1){
					$(".alert-success").hide();
					$(".alert-warning").hide();
					$(".alert-danger").show();
					return;
				}

				// ajax call that actually creates the graph
				$.ajax({
					url:"/get_gastos_graph/",
					type: "POST",
					data: {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						categorias: JSON.stringify(categorias),
						init_year: init_year,
						init_month: init_month,
						last_year: last_year,
						last_month: last_month,
						include_total: include_total
					},
					dataType: "json",
					success: function( data ) {
						// update graph data
						for(idx=0 ; idx<data.length ;idx++){
							d = data[idx]
							// d[0] -> nombre categoria
							// d[1] -> list with values per period
							// periods are ordered!

							// create dataset where the label is the name of the categoria, the data is the array with values per period and the color is the color of the highlighted checkbox of the categoria
							color = $("input[name='" + d[0] + "']").parent().css("background-color")
							datasets.push(
								{
								    label: d[0],
								    fillColor: color,
								    strokeColor: color,
								    pointColor: color,
								    pointStrokeColor: "#fff",
								    pointHighlightFill: "#fff",
								    pointHighlightStroke: "rgba(220,220,220,1)",
								    data: d[1]
								}
							);
						}
						var data = {
						    labels: labels,
						    datasets: datasets
						};

						// graph must be destroyed before adding the new data
						if(myChart!=null){
							myChart.destroy()
						}
						myChart = new Chart(ctx).Bar(data, options);
						// wait a sec before changing the messages
						setTimeout(function(){
							$(".alert-success").show();
							$(".alert-warning").hide();
							$(".alert-danger").hide();
						}, 300);
					}
				});
			});
			
		});
	</script>
{% endblock %}