{% extends "base.html" %}

{% block custom_head %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">

	<style type="text/css">
	.slider-horizontal {
		width: 90% !important;
		margin-right: 5% !important;
		margin-left: 5% !important;
		margin-bottom: 30px !important;
	}
	</style>
{% endblock %}


{% block content_title %}{{vivienda}}{% endblock %}
{% block content %}
	<h3>Gastos</h3>
	<hr>
	<input id="ex19" type="text"
		data-provide="slider"
		data-slider-ticks="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
		data-slider-ticks-labels='["2015-4", "2015-5", "2015-6", "2015-7", "2015-8", "2015-9", "2015-10", "2015-11", "2015-12", "2016-1", "2016-2", "2016-3", "2016-4"]'
		data-slider-min="1"
		data-slider-max="13"
		data-slider-step="1"
		data-slider-value="[12,13]"
		data-slider-tooltip="hide" />
	<br>
	<div class="btn-group" id="categorias_checkbox" data-toggle="buttons">
		{% for c in categorias %}
			<label class="btn btn-success">
				<input type="checkbox" autocomplete="off" name="{{c}}"> {{c}}
			</label>
		{% endfor %}
	</div>
	<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-success active">
				<input type="checkbox" checked autocomplete="off" name="total" id="total_checkbox"> Total
			</label>
	</div>
	{% csrf_token %}
	<button class="btn btn-primary" id="get_graph">
		Generar gráfico
	</button>
	<hr>
	<div id="canvas_container">
		<canvas id="gastos_chart"></canvas>
	</div>

	<script type="text/javascript">
		var getRandomColor = function(){
		    var letters = '0123456789ABCDEF'.split('');
		    var color = '#';
		    for (var i = 0; i < 6; i++ ) {
		        color += letters[Math.floor(Math.random() * 16)];
		    }
		    return color;	
		};
		var is_valid_period_range = function(y0,m0,y1,m1){
			return y0<y1 || (y0==y1 && m0<=m1)
		}
		var get_next_year_month_pair = function(y,m){
			next_year = y
			next_month = m+1
			if(next_month>12){
			    next_month = 1
			    next_year++
			}
			return [next_year, next_month]
		}
		var get_period_range = function(y0, m0, y1, m1){
			periods = []
			y = y0
			m = m0
			while( (y<y1) || (y==y1 && m<=m1)	){
				periods.push(y + "-" + m)
				ym_pair = get_next_year_month_pair(y,m)
				y = ym_pair[0]
				m = ym_pair[1]
			}
			console.log(periods)
			return periods
		};

		$(document).ready(function(){

			var not_checked_color = $("#categorias_checkbox").find("label").first().css("background-color")

			$("#categorias_checkbox").find("label").click(function(){
				// if checked, change to default not_checked_color
				if($(this).hasClass("active")){
					$(this).css("background-color", not_checked_color)
				}
				// if not checked, change to random color
				else{
					$(this).css("background-color", getRandomColor())
				}
			});

			var range_periods_labels = JSON.parse($("#ex19").attr("data-slider-ticks-labels"))

			$.format.locale({
			    number: {
			        groupingSeparator: '.',
			        decimalSeparator: ','
			    }
			});

			Chart.defaults.global.responsive = true;
			var ctx = $("#gastos_chart").get(0).getContext("2d");
			var myLineChart = null;
			var labels = [];
			var options = {
				legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\">" + 
				"<% for (var i=0; i<datasets.length; i++){" + 
					"%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\">"+
						"<%if(datasets[i].label){"+
						"%><%=datasets[i].label%><%"+
						"}%></span>"+
					"</li><%"+
				"}%></ul>",
				multiTooltipTemplate: "$<%= $.format.number(value, '#,##0.#') %>",
			}
			$("#get_graph").click(function(){
				datasets = [];
				var year_month_indexes = JSON.parse("[" + $("#ex19").val() + "]")
				first_index = parseInt(year_month_indexes[0])-1
				last_index = parseInt(year_month_indexes[1])-1

				var init_year = range_periods_labels[first_index].split("-")[0]
				var init_month = range_periods_labels[first_index].split("-")[1]
				
				var last_year = range_periods_labels[last_index].split("-")[0]
				var last_month = range_periods_labels[last_index].split("-")[1]

				labels = []
				for (var i = first_index; i <= last_index; i++) {
					labels.push(range_periods_labels[i]);
				}

				categorias = []
				$('#categorias_checkbox').find('.active').find("input").each(function(){
					categorias.push($(this).attr("name"))
				})
				// include total of each perido in graphics?
				include_total = $("#total_checkbox:checked").length;
				$.ajax({
					url:"/get_gastos_graph/",
					type: "POST",
					data: {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						categorias: JSON.stringify(categorias),
						init_year: init_year,
						init_month: init_month,
						last_year: last_year,
						last_month: last_month,
						include_total: include_total
					},
					dataType: "json",
					success: function( data ) {
						// update graph data
						for(idx=0 ; idx<data.length ;idx++){
							d = data[idx]
							// d[0] -> nombre categoria
							// d[1] -> lista con valores por período
							color = $("input[name='" + d[0] + "']").parent().css("background-color")
							datasets.push(
								{
								    label: d[0],
								    fillColor: color,
								    strokeColor: color,
								    pointColor: color,
								    pointStrokeColor: "#fff",
								    pointHighlightFill: "#fff",
								    pointHighlightStroke: "rgba(220,220,220,1)",
								    data: d[1]
								}
							);
						}
						var data = {
						    labels: labels,
						    datasets: datasets
						};

						if(myLineChart!=null){
							myLineChart.destroy()
						}
						myLineChart = new Chart(ctx).Bar(data, options);
					}
				});
			});
			
		});
	</script>
{% endblock %}