{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<style type="text/css">
		.canvas_label {
			width: 50%;
			margin: 0 auto;
		}
	</style>
{% endblock %}

{% block content_title %}{{request.user.get_vivienda}}{% endblock %}
{% block content %}
	<h3>Presupuestos {{year}}-{{month}}</h3>
	<a href="/graphs/presupuestos/{{prev_year}}/{{prev_month}}" class="btn btn-primary" role="button">
		{% bootstrap_icon "chevron-left" %} Período Anterior
	</a>
	<a href="/graphs/presupuestos/{{next_year}}/{{next_month}}" class="btn btn-primary" role="button">
		Próximo período {% bootstrap_icon "chevron-right" %}
	</a>
	<a href="/presupuestos/{{year}}/{{month}}" class="btn btn-primary" role="button">
		{% bootstrap_icon "th-list" %} Ver histórico
	</a>
	<a href="/presupuestos/new/" class="btn btn-warning" role="button">
		{% bootstrap_icon "plus" %} Nuevo Presupuesto
	</a>
	<br>
	<hr>
	<div class="row">
		{% for p in presupuestos %}
			<div class="col-sm-4">
				<h4 class="canvas_label"><a href="/presupuestos/{{p.year_month.year}}/{{p.year_month.month}}/{{p.categoria}}">{{p.categoria}}</a></h4>
				<canvas id="{{p.id}}_Chart"></canvas>
			</div>
			{% if forloop.counter|divisibleby:3 %}
				<!-- add new row -->
				</div>
				<hr>
				<div class="row">
			{% endif %}
		{% empty %}
			<p>No hay presupuestos definidos para este período</p>
		{% endfor %}
	</div>


	<script type="text/javascript">
		$(document).ready(function(){
			var is_mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)
			$.format.locale({
			    number: {
			        groupingSeparator: '.',
			        decimalSeparator: ','
			    }
			});
			Chart.defaults.global.responsive = true;
			{% for p in presupuestos %}
				var ctx = $("#{{p.id}}_Chart").get(0).getContext("2d");
				presupuesto = parseInt("{{p.monto}}");
				invertido = parseInt("{{p.get_total_expenses}}")
				restante = presupuesto - invertido;
				invertido_color = "808080";
				invertido_highlight = "575252";
				invertido_label = "Monto Invertido"
				presupuesto_pretty = "$" + $.format.number(presupuesto, '#,##0.#')
				invertido_pretty = "$" + $.format.number(invertido, '#,##0.#')
				restante_pretty = "$" + $.format.number(restante, '#,##0.#')
				if(restante<=0){
					restante=0;
					invertido_color = "763939";
					invertido_highlight = "763939";
					invertido_label = "Presupuesto de " + presupuesto_pretty + " superado! Invertido"
				}
				var data = [
				    {
				        value: invertido,
				        color:"#" + invertido_color,
				        highlight: "#" + invertido_highlight,
				        label: invertido_label
				    },
				    {
				        value: restante,
				        // color: "#46BFBD",
				        color: "#66FF66",
				        // highlight: "#5AD3D1",
				        highlight: "#50DC50",
				        label: "Monto Restante"
				    }
				];
				// TODO this is awesome but completely unneccesary and should never get to production
				random_number=Math.random()
				options = {
					animateRotate : random_number<0.66 && !is_mobile,
					animateScale : random_number>0.33 && !is_mobile,
					tooltipTemplate : "<%=label%>: $<%= $.format.number(value, '#,##0.#') %>"
				}

				var myDoughnutChart = new Chart(ctx).Doughnut(data, options);
			{% endfor %}
		});
	</script>

{% endblock %}
