<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        {% block head %}

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="paguenpo">
            <meta name="author" content="jsanz">
            <title>PaguenPo</title>
            <link rel='shortcut icon' href="{% static 'img/favicon.ico'%}" type='image/x-icon'>

        {% endblock head %}
    </head>
    <body>

        {% block body %}
        {% endblock body %}

    </body>
</html>