{% extends "base.html" %}

{% block help_info_button %}
{% endblock %}

{% block content_title %}
    PaguenPo
{% endblock %}

{% block subtitle %}
    Acerca de
{% endblock %}

{% block content %}
    <hr>
	Este proyecto es la tésis de Jaime Sanz, estudiante de Ciencias de la
    Computación de la Universidad de Chile. <i>PaguenPo</i> surge producto
    de la necesidad del autor (oriundo de Temuco) por llevar un registro
    transparente de gastos con sus compañeros de departamento al vivir en
    Santiago.
    <br><br>
    Si le interesa saber más acerca del proyecto, puede enconrar los detalles
    del código en <a href="https://github.com/jaimesanz/paguen_po">GitHub</a>.
    Si encuentra algún bug o tiene algún feedback que aportar, se agradecen
    mucho los comentarios al mail <b>paguenpo@gmail.com</b>
{% endblock %}

{% block help_info_modal %}
{% endblock %}