{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block custom_head %}
    <style type="text/css">
        h1, h3, p {
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            line-height: 26.4px;
        }
        .text-muted {
            text-align: center;
            font-size: small;
        }
    </style>
{% endblock %}

{% block content_title %}
    ¡Bienvenido!
{% endblock %}

{% block help_info_button %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.has_vivienda %}
            <p>Haga click <a href="/vivienda/">aquí</a> para ir a la
                configuración de su Vivienda.</p>
        {% else %}
            <p>Para poder hacer uso de la aplicación, primero debe pertenecer a
                una  Vivienda. Hay 2 formas de formar parte de una Vivienda:
            </p>
            <ul>
                <li>Crear una Vivienda: para esto, debe dirigirse a
                    <a href="/nueva_vivienda/">crear vivienda</a>.</li>
                <li>Unirse a una Vivienda existente: para esto, debe ser
                    invitado a la Vivienda por otro usuario. Puede ver las
                    invitaciones que le han enviado haciendo click <a
                            href="/invites_list/">
                        aquí</a>.</li>
            </ul>
            Si tiene dudas sobre la función de alguna página, puede hacer
            click en el botón <button type="button" class="btn btn-info btn-sm"
                                      data-toggle="modal"
                                      data-target="#HelpInfoModal">
            {% bootstrap_icon "info-sign" %}</button> para ver información al
            respecto.
        {% endif %}
    {% else %}
        <p>
            ¡Hola!
        </p>
        <p>Esta es la página de inicio de <i>PaguenPo</i>, una aplicación web
            cuyo objetivo consiste en ayudar a estudiantes que comparten techo a
            organizarse con sus gastos, y transparentar las contribuciones de
            cada uno a la Vivienda.
        </p>

        <h3>Gastos</h3>
        <p>Lleva un registro histórico de los gastos que se han hecho en cada
            período y para cada categoría.</p>
        <img src="{% static 'img/gastos.png' %}">

        <hr>
        <h3>Presupuestos</h3>
        <p>Define presupuestos para cada período y cada categoría para poder
            administrar mejor los recursos de la vivienda.</p>
        <img src="{% static 'img/presupuestos.png' %}">
        <hr>

        <h3>Listas de Compras</h3>
        <p>Crea listas de compras que tus compañeros podrán ver de forma remota,
            para que todos sepan qué cosas faltan, y si esque alguien más ya
            compró lo que faltaba.
        </p>
        <img src="{% static 'img/lista_compras.png' %}">
        <hr>

        <h3>Balance</h3>
        <p>Mantén balanceados los gastos con tus compañeros, de forma que nadie
            se vea perjudicado.</p>
        <img src="{% static 'img/balance.png' %}">
        <hr>

        <h3>Acerca de</h3>
        <p>Si te interesa saber más acerca del proyecto, puedes dirigirte al
            <a href="/about/" target="_blank">acerca de</a>.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    {% else %}
        <br>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Visita el proyecto en <a href="https://github.com/jaimesanz/paguen_po"><img src="{% static 'img/GitHub-Mark-32px.png' %}"></a></p>
            </div>
        </footer>
    {% endif %}
{% endblock %}

{% block help_info_modal %}
{% endblock %}