{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load humanize %}

{% block custom_head %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.1/Chart.min.js"></script>
	<script type="text/javascript" src="{% static 'js/period_functions.js' %}"></script>
{% endblock %}


{% block content_title %}{{vivienda}}{% endblock %}
{% block content %}
	<h3>Balance de Gastos</h3>
	{% bootstrap_button "Transferir" icon="share-alt" name="transfer_button" button_class="btn-warning" %}
	{% bootstrap_button "¿Cómo balancear?" icon="transfer" name="instructions_button" button_class="btn-success" %}
	<div id="transfer_modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Transferir Monto a otro Ususario</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="/transfer/">
					  {% csrf_token %}
					  {% bootstrap_form form %}
					  {% bootstrap_button "Transferir" button_type="submit" button_class="btn-primary" %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
    <hr>
    <div id="instructions_div" style="display: none">
        {% if instructions %}
            <p>Para balancear los gastos de todos los usuarios, se deben seguir
            estas instrucciones:</p>
            <ul>
            {% for vu, transfers in instructions.items %}
                <li> {{ vu.user }} debe transferir: </li>
                <ul>
                    {% for t in transfers %}
                        <li>
                            ${{ t.1 | floatformat:"0" | intcomma }} a {{ t.0.user }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <p>Los usuarios ya se encuentran balanceados.</p>
        {% endif %}
        <hr>
    </div>
	<canvas id="user_expenses_chart"></canvas>
	<script type="text/javascript">
		$(document).ready(function(){
            $("button[name=instructions_button]").click(function() {
                $("#instructions_div").toggle()
            })
			$("button[name=transfer_button]").click(function(){
				transfer_modal = $("#transfer_modal");
				transfer_modal.modal("toggle");
			});
			$.format.locale({
			    number: {
			        groupingSeparator: '.',
			        decimalSeparator: ','
			    }
			});

			var ctx = $("#user_expenses_chart").get(0).getContext("2d");
			labels = []
			values = []
			var myChart = null
			{% for vivienda_usuario, total in users_disbalance.items %}
				labels.push("{{vivienda_usuario.user}}");
				values.push(parseInt("{{total}}"));
			{% endfor %}

			color_list = getRandomColorAsList()
            color = getTransparentColor(color_list, 0.2)
            border_color = getTransparentColor(color_list, 1)
            hover_color = getTransparentColor(color_list, 0.4)
			var data = {
			    labels: labels,
			    datasets: [
			        {
			            label: "Balance de Gastos",
                        backgroundColor: color,
                        borderColor: border_color,
                        borderWidth: 1,
                        hoverBackgroundColor: hover_color,
                        hoverBorderColor: border_color,
			            data: values
			        }
			    ]
			};
			var options = {
                responsive: true,
                responsiveAnimationDuration: 1000,
				tooltips: {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function(tooltipItems, data) {
                            return '$ ' + $.format.number(tooltipItems.yLabel,
                                            '#,##0.#');
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMax: Math.max.apply(Math, values)*1.05,
                            suggestedMin: Math.min.apply(Math, values)*1.05
                        }
                    }]
                }
			}

			myChart = new Chart(ctx, {
                type:'bar',
                data: data,
                options: options
            });
		});
	</script>
{% endblock %}
