{% extends "base.html" %}
{% load bootstrap3 %}

{% block content_title %}{{vivienda}}{% endblock %}
{% block content %}
	<h3>Categorías</h3>
	<a href="/vivienda/categorias/new" class="btn btn-warning" role="button">
		{% bootstrap_icon "plus" %} Nueva Categoría
	</a>
	<hr>
	<div class="row">
		<div class="col-lg-6">
			<h4>Globales</h4>
				{% for c in categorias %}
					{% if c.is_global %}
						<div class="row">
							<div class="col-sm-3">
								{{c}}
							</div>
							<div class="col-sm-3">
								<form action="" method="post">
									{% csrf_token %}
							    	{% if c.is_hidden %}
								    	<button name="categoria" value="{{c}}" class="btn btn-success">
								    		Mostrar
								    	</button>
							    	{% else %}
								    	<button name="categoria" value="{{c}}" class="btn btn-info">
								    		Ocultar
								    	</button>
							    	{% endif %}
								</form>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		</div>
		<div class="col-lg-6">
			<h4>Personalizadas</h4>
				{% for c in categorias %}
					{% if not c.is_global %}
						<div class="row">
							<div class="col-sm-3">
								{{c}}
							</div>
							<div class="col-sm-3">
								<form action="" method="post">
									{% csrf_token %}
							    	{% if c.is_hidden %}
								    	<button name="categoria" value="{{c}}" class="btn btn-success">
								    		Mostrar
								    	</button>
							    	{% else %}
								    	<button name="categoria" value="{{c}}" class="btn btn-info">
								    		Ocultar
								    	</button>
							    	{% endif %}
								</form>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		</div>
	</div>
{% endblock %}
