{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
	{% include "general/datatables.html" %}
{% endblock %}

{% block content_title %}{{vivienda}}{% endblock %}

{% block subtitle %}
    Categorías
{% endblock %}

{% block buttons %}
    <a href="{% url 'nueva_categoria' %}" class="btn btn-warning" role="button">
        {% bootstrap_icon "plus" %} Nueva
    </a>
    <a class="btn btn-danger toggle_delete_btn" role="button">
        {% bootstrap_icon "warning-sign" %} Ver botón eliminar
    </a>
    <a class="btn btn-danger toggle_delete_btn" role="button"
       id="hide_delete_btn" style="display: none;">
        {% bootstrap_icon "adjust" %} Esconder botón Eliminar
    </a>
{% endblock %}

{% block content %}

    <table id="tabla_categorias" class="table table-striped table-bordered"
           cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Oculta</th>
                <th>Compartida</th>
                <th>Compartida en Vacación</th>
                <th class="delete_column" style="display: none;">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for c in this_viv_global %}
                <tr>
                    <td>
                        <a href="{% url "edit_categoria" c.id %}">
                            {{ c }}
                        </a>
                    </td>
                    <td>
                        {% if c.is_hidden %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td>
                        {% if c.is_shared %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td>
                        {% if c.is_shared_on_leave %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td class="delete_column" style="display: none;">
                        {% bootstrap_icon "remove" %}
                    </td>
                </tr>
            {% endfor %}

            {% for c in custom_cats %}
                <tr>
                    <td>
                        <a href="{% url "edit_categoria" c.id %}">
                            {{ c }}
                        </a>
                    </td>
                    <td>
                        {% if c.is_hidden %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td>
                        {% if c.is_shared %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td>
                        {% if c.is_shared_on_leave %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td class="delete_column" style="display: none;">
                        <form action="/vivienda/categorias/delete/" method="post">
                            {% csrf_token %}
                            <button name="categoria" value="{{c.id}}" class="btn btn-danger">
                                {% bootstrap_icon "trash" %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

	<script type="text/javascript">
		$(document).ready(function(){
			$(".toggle_delete_btn").click(function(){
				$(".delete_column").toggle()
				$(".toggle_delete_btn").toggle()
			});
            $('#tabla_categorias').DataTable({
                paging:false,
                filter:false
            });
		});
	</script>
{% endblock %}

{% block info_title %}
    Sobre las Categorías
{% endblock %}

{% block info_content %}
    En esta página puede crear nuevas Categorías para realizar Gastos y
    Presupuestos, o bien modificar las Categorías ya existentes.
    <br><br>
    Si elimina una categoría, los Gastos asociados a esa Categoría pasarán a
    ser de categoría "Otros". Notar que hay un cierto conjunto de categorías
    básicas (Luz, Gas, etc) las cuales no puede eliminar.
    <br><br>
    Los campos de las categorías significan lo siguiente:
    <ul>
        <li><b>Escondida</b>: la categoría no se mostrará en formularios ni
            graficos. Usted querrá esconder las categorías que
            probablemente nunca vaya a utilizar.
        </li>
        <br>
        <li><b>Compartida</b>: los gastos asociados a este tipo de categoría son
            los que se contarán para los calculos de totales de
            presupuestos y totales por período.
        </li>
        <br>
        <li><b>Compartida en Vacación</b>: los gastos asociados a estas categorías
            deben ser pagados por todos los miembros, aún cuando alguno de
            ellos se encontrase de vacaciones al momento del Gasto. Algunos
            ejemplos de este tipo de Gasto sería el Arriendo o los Gastos
            Comúnes.
        </li>
    </ul>
    Notar que para eliminar una categoría, primero es necesario hacer click
    en el botón "mostrar botón eliminar". Esto es una medida de seguridad
    para no eliminar accidentalmente una Categoría.
{% endblock %}
