{% extends "base.html" %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}

{% block subtitle %}
    Gestionar Usuarios
{% endblock %}

{% block content %}
	<p>Usuarios de la vivienda:</p>
	<ul>
		{% for rm in request.user.get_roommates %}
		<li>{{rm.user}}</li>
		{% endfor %}
	</ul>
	<p>¿Qué desea hacer?</p>
	<p><a href="/invite_user">Invitar usuarios a la vivienda</a></p>
	<form action="/abandon/" method="POST">{% csrf_token %}<input type="submit" name="submit" value="Abandonar vivienda"></input></form>
{% endblock %}
