{% extends "base.html" %}
{% load bootstrap3 %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}

{% block subtitle %}
    Gestionar Usuarios
{% endblock %}

{% block help_info_button %}
{% endblock %}

{% block content %}
    <hr>
	<p>Usuarios de la vivienda:</p>
	<ul>
		{% for rm in request.user.get_roommates %}
		<li>{{rm.user}}</li>
		{% endfor %}
	</ul>
	<p>¿Qué desea hacer?</p>
	<p><a href="{% url 'invite_user' %}">Invitar usuarios a la vivienda</a></p>
	<form action="{% url 'abandon' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_button "Abandonar vivienda" value="Abandonar vivienda" name="submit" button_type="submit" button_class="btn-danger" %}
    </form>
{% endblock %}

{% block help_info_modal %}
{% endblock %}