{% extends "base.html" %}
{% load bootstrap3 %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}

{% block subtitle %}
    Nuevo Presupuesto
{% endblock %}

{% block buttons %}
    {% bootstrap_button "¿Reutilizar existente?" name="copy_old" button_type="submit" button_class="btn-warning" %}
{% endblock %}

{% block content %}
	<div id="copy_old_form" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Copiar presupuesto existente</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" style="display: none;">
					</div>
					<div class="alert alert-success" style="display: none;">
						¡Presupuesto cargado!
					</div>
					<p>Ingresa un período y una categoría y luego presiona "Cargar". Verás que el formulario de atrás tendrá la info del presupuesto correspondiente a los datos que ingresaste. ¡Recuerda seleccionar un período distinto al que quieres crear!</p>

					<div class="row">
						{% for field in form %}
							<div class="col-sm-4">
									<div class="input-group load_old_input_group">
										{% if field.label == "Monto" %}
										{% else %}
											{% bootstrap_field field %}
										{% endif %}
									</div>
							</div>
						{% endfor %}
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							{% bootstrap_button "¡Cargar!" name="load_old" button_type="submit" button_class="btn-success" %}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<form method="POST" action="">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% bootstrap_button "Crear Presupuesto" button_type="submit" button_class="btn-primary" %}
	</form>
	<script type="text/javascript">
		$(document).ready(function(){
			$("button[name=copy_old]").click(function(){
				copy_old_form = $("#copy_old_form");
				copy_old_form.modal("toggle");
			});
			$("button[name=load_old]").click(function(){
				input_group = $(".load_old_input_group");
				cat = input_group.find("select[name=\"categoria\"]").val();
				year_month = input_group.find("select[name=\"year_month\"]").val();
				$.ajax({
					url:"/get_old_presupuesto/",
					type: "POST",
					data: {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						categoria: cat,
						year_month: year_month
					},
					dataType: "json",
					success: function( data ) {
						if(data.length==1){
							presupuesto = data[0];
							categoria_old = presupuesto[0];
							year_month_old = presupuesto[1];
							monto_old = presupuesto[2];
							inputs = $("form .form-group").find(".form-control");
							inputs.eq(0).val(categoria_old);
							inputs.eq(2).val(monto_old);
							$(".alert-danger").hide();
							$(".alert-success").show()

						}
						else{
							error_message = $(".alert-danger");
							error_message.html("No existe presupuesto para ese período");
							error_message.show();
							$(".alert-success").hide()
						}
					}
				});
								
			})
			
		})
	</script>
{% endblock %}