{% extends "base.html" %}
{% load bootstrap3 %}

{% block custom_head %}
    {% include "general/datatables.html" %}
{% endblock %}

{% block content_title %}{{ request.user.get_vivienda }}{% endblock %}

{% block subtitle %}
    Vacaciones
{% endblock %}

{% block buttons %}
    <a href="/vivienda/vacaciones/new/" class="btn btn-warning" role="button">
        {% bootstrap_icon "plus" %} Nueva
    </a>
{% endblock %}

{% block content %}
    <table id="vacations_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Inicio</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for vacation in vacations %}
            <tr>
                <td>
                    <a href="/vivienda/vacaciones/{{vacation.id}}/">
                        {{vacation.vivienda_usuario.user}}
                    </a>
                </td>
                <td>{{vacation.fecha_inicio}}</td>
                <td>{{vacation.fecha_fin}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#vacations_table').DataTable({
                // paging: false,
                // filter: false
            });
        });
    </script>
{% endblock %}

{% block info_title %}
    ¿Vacaciones?
{% endblock %}

{% block info_content %}
    En esta página puede ver los períodos de <i>vacaciones</i> o
    <i>salidas</i> de los usuarios activos.
    <br><br>
    ¿Pero de qué sirve hacer esto?
    <br><br>
    <ul>
        <li>
            Es posible definir qué <a href="/vivienda/categorias/"
                                      target="_blank"> categorías</a>
            <b>no</b> se comparten cuando se está afuera del
            departamento, y cuales <b>sí</b> se comparten aunque se esté de
            viaje (como puede ocurrir, por ejemplo, con el arriendo).
        </li>
    </ul>
    De esta forma, al definir períodos de vacaciones, es posible calcular un
    <a href="/vivienda/balance/" target="_blank">balance</a> más fiel a la
    realidad del departamento.
{% endblock %}