{% extends "base.html" %}

{% block content_title %}{{request.user.get_vivienda}}{% endblock %}

{% block subtitle %}
    Configuración
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="user" title="Usuarios" %}
                {% include "general/panel_footer.html" with url="manage_users" title="Administrar" %}
                {% include "general/panel_footer.html" with url="transfer" title="Transferencias" %}
                {% include "general/panel_footer.html" with url="invite_user" title="Invitar Usuarios" %}
		    </div>
		</div>

		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="usd" title="Gastos" %}
                {% include "general/panel_footer.html" with url="gastos" title="Administrar" %}
                {% include "general/panel_footer.html" with url="graph_gastos" title="Gráficos" %}
                {% include "general/panel_footer.html" with url="balance" title="Balance" %}
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="piggy-bank" title="Presupuestos" %}
                {% include "general/panel_footer.html" with url="presupuestos" title="Administrar" %}
                {% include "general/panel_footer.html" with url="graphs_presupuestos" title="Gráficos" %}
                {% include "general/panel_footer.html" with url="nuevo_presupuesto" title="Nuevo" %}
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="plane" title="Vacaciones" %}
                {% include "general/panel_footer.html" with url="vacations" title="Administrar" %}
                {% include "general/panel_footer.html" with url="new_vacation" title="Nueva" %}
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="cutlery" title="Categorías" %}
                {% include "general/panel_footer.html" with url="categorias" title="Administrar" %}
                {% include "general/panel_footer.html" with url="nueva_categoria" title="Nueva" %}
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
                {% include "general/panel_header.html" with icon="apple" title="Items" %}
                {% include "general/panel_footer.html" with url="items" title="Administrar" %}
                {% include "general/panel_footer.html" with url="new_item" title="Nuevo" %}
		    </div>
		</div>
	</div>
{% endblock %}

{% block info_title %}
    Sobre la Configuración de la Vivienda
{% endblock %}

{% block info_content %}
    Desde esta página se tiene acceso a todas las funcionalidades de PaguenPo.
    Si quiere saber más acerca de las distintas partes, se recomienda que
    lea los mensajes de ayuda en el siguiente orden:
    <br><br>
    <ul>
        <li><a href="{% url 'invites_list' %}" target="_blank">Invitaciones</a></li>
        <li><a href="{% url 'invite_user' %}" target="_blank">Invitar Usuarios</a></li>
        <li><a href="{% url 'categorias' %}" target="_blank">Categorías</a></li>
        <li><a href="{% url 'gastos' %}" target="_blank">Gastos</a></li>
        <li><a href="{% url 'presupuestos' %}" target="_blank">Presupuestos</a></li>
        <li><a href="{% url 'items' %}" target="_blank">Ítems</a></li>
        <li><a href="{% url 'lists' %}" target="_blank">Listas</a></li>
        <li><a href="{% url 'vacations' %}" target="_blank">Vacaciones</a></li>
        <li><a href="{% url 'balance' %}" target="_blank">Balance</a></li>
        <li><a href="{% url 'transfer' %}" target="_blank">Transferencias</a></li>
    </ul>
    Si le interesa saber más acerca de la página puede leer el <a
        href="{% url 'about' %}" target="_blank">"acerca de"</a>.
{% endblock %}
