{% extends "base.html" %}
{% load bootstrap3 %}

{% block content_title %}{{request.user.get_vivienda}}{% endblock %}

{% block subtitle %}
    Configuración
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "user" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Usuarios</div>
		                </div>
		            </div>
		        </div>
		        <a href="/manage_users">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/transfer">
		            <div class="panel-footer">
		                <span class="pull-left">Transferencias</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/invite_user">
		            <div class="panel-footer">
		                <span class="pull-left">Invitar Usuarios</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "usd" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Gastos</div>
		                </div>
		            </div>
		        </div>
		        <a href="/gastos">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/graphs/gastos">
		            <div class="panel-footer">
		                <span class="pull-left">Gráficos</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/vivienda/balance">
		            <div class="panel-footer">
		                <span class="pull-left">Balance</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "piggy-bank" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Presupuestos</div>
		                </div>
		            </div>
		        </div>
		        <a href="/presupuestos">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/graphs/presupuestos">
		            <div class="panel-footer">
		                <span class="pull-left">Gráficos</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/presupuestos/new">
		            <div class="panel-footer">
		                <span class="pull-left">Nuevo</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "plane" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Vacaciones</div>
		                </div>
		            </div>
		        </div>
		        <a href="/vivienda/vacaciones">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/vivienda/vacaciones/new">
		            <div class="panel-footer">
		                <span class="pull-left">Nueva</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "cutlery" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Categorías</div>
		                </div>
		            </div>
		        </div>
		        <a href="/vivienda/categorias">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/vivienda/categorias/new">
		            <div class="panel-footer">
		                <span class="pull-left">Nueva</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-lg-3 col-md-6">
		    <div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                	{% bootstrap_icon "apple" %}
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">Items</div>
		                </div>
		            </div>
		        </div>
		        <a href="/vivienda/items">
		            <div class="panel-footer">
		                <span class="pull-left">Administrar</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		        <a href="/vivienda/items/new">
		            <div class="panel-footer">
		                <span class="pull-left">Nuevo</span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
	</div>
{% endblock %}

{% block info_title %}
    Sobre la Configuración de la Vivienda
{% endblock %}

{% block info_content %}
    Desde esta página se tiene acceso a todas las funcionalidades de PaguenPo.
    Si quiere saber más acerca de las distintas partes, se recomienda que
    lea los mensajes de ayuda en el siguiente orden:
    <br><br>
    <ul>
        <li><a href="/invites_list/" target="_blank">Invitaciones</a></li>
        <li><a href="/invite_user/" target="_blank">Invitar Usuarios</a></li>
        <li><a href="/vivienda/categorias/" target="_blank">Categorías</a></li>
        <li><a href="/gastos/" target="_blank">Gastos</a></li>
        <li><a href="/presupuestos/" target="_blank">Presupuestos</a></li>
        <li><a href="/vivienda/items/" target="_blank">Ítems</a></li>
        <li><a href="/lists/" target="_blank">Listas</a></li>
        <li><a href="/vivienda/vacaciones/" target="_blank">Vacaciones</a></li>
        <li><a href="/vivienda/balance/" target="_blank">Balance</a></li>
        <li><a href="/transfer/" target="_blank">Transferencias</a></li>
    </ul>
    Si le interesa saber más acerca de la página puede leer el <a
        href="/about/" target="_blank">"acerca de"</a>.
{% endblock %}