#content{
  width:80%;
  margin:0 auto;/*this will center the content*/
}

#content_body, #content_title{
  margin-left: 10px;
  margin-right: 10px;
}

/*#colapse_glyphicon{
	font-size: 120%;
}*/

@media screen and (max-width: 768px) {
  #content{
    width:100%;
    margin:0 auto;/*this will center the content*/
  }
}

div {
  text-align: justify;
}