<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load static %}
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script type='text/javascript' src='{% static 'js/jquery.js' %}'></script>
		<script type='text/javascript' src='{% static 'js/jquery-ui.js' %}'></script>
		<link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}' />
		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<!-- additional blocks specific to each page -->
		{% block custom_head %}{% endblock %}
		<title>Cherries, cherries everywhere</title>
	</head>
	<body>
		<div id="content">
			{% include "navbar/navbar.html" %}
			<hr>
			<h1 id="content_title">{% block content_title %}{% endblock %}</h1>
			<div id="content_body">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
		<br>
	</body>
</html>