{% extends "base.html" %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}
{% block content %}
	<h3>Detalle Gasto</h3>
	{% if gasto.is_pending %}
		<form method="post" action="">
			{% csrf_token %}
			<table id="gasto_detail" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					{% for field in gasto_form %}
						<tr>
						    <td><b>{{ field.label }}:</b> </td>
						    <td>{{ field.data }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Pagar</input>
		</form>
	{% else %}
		<table id="gasto_detail" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>Monto:</b> </td>
					<td>{{gasto.monto}}</td>
				</tr>
				<tr>
					<td><b>Creado por:</b></td>
					<td>{{gasto.creado_por.user}}</td>
				</tr>
				<tr>
					<td><b>Usuario:</b></td>
					<td>{{gasto.usuario.user}}</td>
				</tr>
				<tr>
					<td><b>Categoria:</b></td>
					<td>{{gasto.categoria}}</td>
				</tr>
				<tr>
					<td><b>Fecha creacion:</b></td>
					<td>{{gasto.fecha_creacion}}</td>
					</tr>
				<tr>
					<td><b>Fecha pago:</b></td>
					<td>{{gasto.fecha_pago}}</td>
				</tr>
				<tr>
					<td><b>Periodo:</b></td>
					<td>{{gasto.year_month}}</td>
				</tr>
				{% if gasto.lista_compras %}
					<tr>
						<td><b>Lista compras:</b></td>
						<td><a href="/detalle_lista/{{gasto.lista_compras.id}}/">ver detalle</a></td>
					</tr>
				{% endif %}
				<tr>
					<td><b>Estado:</b></td>
					<td>{{gasto.estado}}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
{% endblock %}