{% extends "base.html" %}

{% block content_title %}{{vivienda_usuario.vivienda}}{% endblock %}
{% block content %}
	<p>Usuarios de la vivienda:</p>
	<ul>
		{% for rm in roommates %}
		<li>{{rm.user}}</li>
		{% endfor %}
	</ul>
	<p>¿Qué desea hacer?</p>
	<p><a href="/manage_users">Gestionar usuarios</a></p>
	<p><a href="/gastos">Ver Gastos</a></p>
	<p>-- to do --</p>
	<p><a href="/balance">Ver balance de gastos</a></p>
	<p><a href="/visualizations">Ver visualizaciones</a></p>
	<p><a href="/presupuestos">Ver presupuestos</a></p>
{% endblock %}